[submodule "dotfiles/.vim/bundle/Recover.vim"]
	path = dotfiles/.vim/bundle/Recover.vim
	url = https://github.com/chrisbra/Recover.vim.git
[submodule "dotfiles/.vim/bundle/git-time-lapse"]
	path = dotfiles/.vim/bundle/git-time-lapse
	url = https://github.com/vim-scripts/git-time-lapse
[submodule "dotfiles/.vim/bundle/linediff.vim"]
	path = dotfiles/.vim/bundle/linediff.vim
	url = https://github.com/AndrewRadev/linediff.vim
[submodule "dotfiles/.vim/bundle/perldoc-vim"]
	path = dotfiles/.vim/bundle/perldoc-vim
	url = https://github.com/hotchpotch/perldoc-vim.git
[submodule "dotfiles/.vim/bundle/vim-templates"]
	path = dotfiles/.vim/bundle/vim-templates
	url = https://github.com/ap/vim-templates
[submodule "dotfiles/.vim/bundle/spelunker.vim"]
	path = dotfiles/.vim/bundle/spelunker.vim
	url = https://github.com/kamykn/spelunker.vim
